@import "../../styles/variables.scss";

.common {
  &.removeBlock {
    background: transparent;
    border: none;
    color: $white011;
    font-weight: bold;
    font-size: 20px;
  
    &:hover {
      background: $white011;
      color: $violet011;
    }
  }

  &:focus {
    outline: none;
  }
}