// Color variables
$grey011: #e8e8e8;
$violet011: #2874f0;
$white011: #ffffff;
$shadowColor: rgba(0,0,0,0.08);
$hoverShadow: rgba(0,0,0,0.3);

// Property variables
$tileShadow: 0px 2px 4px 0px $shadowColor;
$tileShadowHover: 0px 5px 10px 0px $hoverShadow;